!!!
%html
  %head
    %title Probabilidade
    %meta{"http-equiv" => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'stylesheet', href: '/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: '/css/bootstrap-theme.min.css'}
  %body
    .container-fluid
      .row
        .col-md-12
          %h1 Probabilidade
          %h4 Resultados
      %a{href: '/', title:'Voltar'} Voltar
      %br/
      %br/

= @result.to_s